tr:nth-child(odd) td:nth-child(even){
    background-color: gray;
}

table {
    border-collapse: collapse;
    margin: auto;
}

header {
    grid-area: h;
    border-bottom: 1px solid black;
    text-align: center;
}

article {
    grid-area: a;
    border: 1px solid black;
    border-radius: 5px;
}

nav {
    grid-area: n;
    border: 1px solid black;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
}